#include <input/processors.dtsi>

&pointing_listener {
    status = "okay";
    device = <&pointing_device>;

    /*
     * トラックボールを動かしたら Layer1 を 5秒間有効化する。
     */
    input-processors = <&zip_temp_layer 1 5000>;

    /*
     * Layer4 が有効な間だけ、トラックボール移動をスクロールに変換する。
     */
    scroll_layer {
        layers = <4>;
        input-processors =   <&zip_xy_scaler 1 3>,                             // 移動量を 1/3 に減衰
                             <&zip_xy_to_scroll_mapper>,                       // XYをスクロールに変換
                             <&zip_scroll_transform INPUT_TRANSFORM_Y_INVERT>; // Y軸反転
    };
};

&zip_temp_layer {
    excluded-positions = <
        33  // Mouse button 1 (J)
        34  // Mouse button 3 (K)
        35  // Mouse button 2 (L)
        47  // Mouse button 4 (M)
        49  // Mouse button 5 (.)
    >;
    require-prior-idle-ms = <300>;
};